doctype html
html(lang='en')
	head 
		meta(charset='utf-8')
		meta(http-equiv='x-UA-Compatible',content='IE=edge,chrome=1')
		title SignUp Form
	body
		section.container
			.login
				h1 sign up to the web App
				form(method='post',action='http://localhost:3000/users/signUp')
					p
						input(type='text',name='firstName',value='',placeholder='firstName',required='')
					p
						input(type='text',name='lastName',value='',placeholder='lastNmae',required='')
					p
						input(type='number',name='mobileNumber',value='',placeholder='mobileNumber',required='')
					p
						input(type='email',name='email',value='',placeholder='email',required='')
					p
						input(type='password',name='password',value='',placeholder='password',required='')
					p.submit
						input(type='submit',name='',value='signUp')

